# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
dist/
build/
.vite/
.DS_Store
.env
.env.local
.env.*.local

# Duplicate/copy in public (do not deploy)
public/.git
public/src
public/vite.config.js
public/package.json
public/package-lock.json
public/eslint.config.js
public/README.md